<div class="hero-unit">
	<h1>eGadget</h1>

	<ul>
		<li>Create Gadgets</li>
		<li>List Gadgets</li>
		<li>Search Gadgets</li>
	</ul>

	<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-large btn-primary' %>
	<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-large btn-danger' %>
</div>